@use "./variables.scss" as *;

// put your custom CSS here!
@use "../components/styles/matrixZeros.scss";

@media all and (max-width: 800px) {
  .sidebar.left > .recent-notes {
    display: none;
  }

  .explorer .explorer-content {
    overflow-y: auto;
  }

  .explorer-content > .recent-notes {
    padding: 0 1rem 1rem;
  }
}

article > figure {
  margin: 1.5rem 0;

  & > img {
    margin-bottom: 0;
  }

  & > figcaption {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.85rem;
    color: var(--darkgray);
  }
}
